/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Variables CSS */
:root {
  
    /* Colors */
    --primary-color: #BA2530;
    --primary-light-color: #FFD6D7;
    --yellow-color: #FEC65E;
    --white-color: #FFFFFF;
    --black-color: #323232;

    /* Font & Typography */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 58px;
    --h1-font-size: 45px;
    --normal-font-size: 18px;
    --small-font-size: 16px;
    --smaller-font-size: 14px;

    /* Font Weight */
    --font-semibold: 600;
    --font-medium: 500;
}

body {
    font-family: var(--body-font);
}

a,
a:hover {
    text-decoration: none;
}

.text-primary {
    color: var(--primary-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-primary-light {
    background-color: var(--primary-light-color) !important;
}

/* Costum Scrollbar */
::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background: var(--white-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 0.5rem;
}

/* Button */
.btn {
    padding: 14px 22px;
    border-radius: 8px;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.btn-primary {
    background-color: var(--primary-color);
    border: none;

    &:hover,
    &:focus {
        filter: drop-shadow(0px 10px 30px rgba(186, 37, 48, 0.15));
        background-color: var(--primary-color);
    }
}

.btn-primary-light {
    background-color: var(--primary-light-color);
    color: var(--primary-color);
    border: none;

    &:hover,
    &:focus {
        color: var(--black-color);
        background-color: var(--primary-light-color);
    }
}

.btn-video-play {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.09);
    border-radius: 50%;
    margin-left: 30px;
    height: 50px;
    width: 50px;
    padding: 0;
    font-size: 30px;

    i {
        line-height: 3rem;
        color: var(--yellow-color);
    }

    &:hover i {
        color: var(--primary-color);
    }
}

.btn-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: .725rem .913rem;
    border-radius: .5rem;
}

/* Badge */
.badge {
    padding: 0.7rem;
    border-radius: 8px;
}

/* Navbar */
.navbar {
    padding: 12px 0;
    transition: all 0.5s ease;

    .navbar-brand span {
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
    }

    .nav-link {
        margin-right: 39px;
        font-weight: var(--font-medium);
        color: var(--black-color);

        &:hover,
        &:focus {
            color: var(--primary-color);
        }

        .active {
            color: var(--primary-color);
        }
    }
}

.drop-shadow {
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.04);
}

/* Home */
section.home {
    padding-top: 7rem;

    .text-home-bold {
        font-size: var(--biggest-font-size);
        line-height: 87px;
    }

    .text-home-reguler {
        font-size: var(--normal-font-size);
        line-height: 27px;
    }
    
    .home-btn .video-play {
        font-weight: var(--font-medium);
        padding: 1rem;
    }
}

/* Services */
section.services {
    padding-top: 7rem;

    .content {
        .services-title {
            font-weight: var(--font-semibold);
        }
    }
}

/* About */
section.about {
    padding-top: 7rem;
}


/* Menu */
section.menu {
    padding-top: 7rem;

    .card-menu {
        filter: drop-shadow(0px 5.42857px 40.7143px rgba(0, 0, 0, 0.05));
        border-radius: 10px;
        padding: 1.2rem;

        .item {
            position: relative;

            img {
                width: 100%;
            }

            .menu-title {
                font-weight: var(--font-semibold);
            }
        }
    }
}

/* Testimonials */
section.testimonials {
    padding-top: 7rem;

    .content-testimonials {

        .name-testimonials {
            font-weight: var(--font-semibold);
        }

         i {
             color: var(--yellow-color);
             font-size: 1.3rem;
         }
    }

    .carousel-indicators {
        bottom: -3rem;

        button {
            width: 0.7rem;
            height: 0.7rem;
            outline: none;
            border: none;
            margin-right: 0.2rem;
        }
    }
}

/* Gallery */
section.gallery {
    padding-top: 8rem;
}

/* Newslatter */
section.newslatter {
    padding-top: 7rem;

    .newslatter-content {
        padding: 6rem;
        border-radius: 10px;

        .form-newslatter {
            display: flex;
            justify-content: center;

            input.form-control {
                border-radius: 10px !important;
                border: none;
                margin-right: 1rem;
                padding: 1rem;
                height: 3.3rem;
            }

            input.form-control::placeholder {
                font-size: 15px !important;
            }
        }
    }
    
}

/* Footer */
footer.footer-section {
padding-top: 10rem;

    .footer-brand {
        span {
            font-weight: var(--font-medium);
            font-size: var(--normal-font-size);
        }
    }

    .footer-content {
        span {
            font-weight: var(--font-medium);
            font-size: var(--normal-font-size);
        }
    }
    
    .footer-link li a {
        color: var(--black-color);

        &:hover {
            color: var(--primary-color);
        }
    }

    .copyright {
        font-size: var(--smaller-font-size);
        padding: 1rem;
    }
}


// Responsive
@media (min-width: 1399.38px) {
    .container {
        width: 84%;
    }
}

@media (max-width: 991px) {
    .navbar {
        padding: 12px 0;

        a.nav-link {
            padding: 0.6rem 0;
        }

        a.btn {
            margin-top: 10px;
        }
    }
    
    section.home {
        .text-home-bold {
            font-size: var(--h1-font-size);
            line-height: 65px;
        }

        img {
            margin-top: 30px;
        }
    } 

    section.services {
        padding-top: 5rem;

        p {
            margin-bottom: 0 !important;
        }
    }

    section.about {
        padding-top: 5rem;

        .about-content {
            margin-top: 30px;
        }
    }
    
    section.menu,
    section.testimonials {
        padding-top: 5rem;
    }

    section.newslatter {
        padding-top: 5rem;
        
        .newslatter-content {
            padding: 3rem;
        }

        .form-newslatter {
            display: block !important;
            
            .form-control {
                margin-bottom: 20px;
            }
        }

        .w-50 {
            width: 100% !important;
        }
    }

    section.gallery {
        padding-top: 6rem;

        .gallery-img {
            margin-top: 30px;
        }
    }

    footer.footer-section {
        padding-top: 7rem;
    }
}

@media (max-width: 414px) {
    footer.footer-section {

        .col-md-7 {
            margin-top: 15px;

            .col-md-3 {
                margin-bottom: 15px;
            }
        }
    }
}
